h1{
    color:blueviolet;
}

p{
    color:red;
}

#green{
    color:green;
}

.blue{
    color:blue;
}

.h2size{
    font-size: 30px;
}

/* *{
    font-size: small;
} */


/* Intersection Selector */
/* It must be div and class=red, in other case it's won be work*/
div.red{
    color: red;
    font-size: 50px;
}
/* Union Selector */
h1, span{
    font-size: medium;
    color: violet;
}

/* Relationship between selectors */

/* child element: span inside of <div></div> but not inside of <p></p>*/
/* syntax: parent element > child element*/
div > span {
    color: brown;
}

div.box > span {
    color: orange;
}

/* syntax: ancestral element(space)descendant eleement*/
/* div span{
    color:blue
} */

/* Other examples*/
/* span that is inside of p and inside of div*/
div > p > span {
    color:grey;
}

p + span {
    color:aquamarine;
}

/* p ~ span*/


/* Attibute */
p[title]{
    color:black;

}

/* Other examples */
p[title=ab]{
    color:yellow;
}

p[title^=ab]{
    font-size: 30px;
}
